 
.marca{
    &-categories{ 
        @apply  flex flex-wrap;
        li{ 
            @apply text-secondary-600  ;
            a{
                @apply  font-semibold mx-2 ;
                color: inherit;

            }
        }
        li:first-child a{
            margin-left: 0; 
        }
    } 
    &-category-active{
        color: #c9d151 !important ;
        a{ 
            color: inherit;

        } 
    }
    &-card{
        cursor: pointer;
        &-image{ 
            border-top: 10px solid #ffd1cc;
            border-bottom: 10px solid #ffd1cc;
            border-right: 8px solid #ffd1cc;
            border-left: 8px solid #ffd1cc ;
        }
    }

    &-modal{
        @apply w-full pt-26 h-full h-screen fixed flex justify-center z-50 top-0 left-0 right-0 bottom-0 hidden ; 
        background: rgba($color: white, $alpha: 0.8); 
        @screen maxmd{
            @apply  pt-10 ; 
        }
        &-body{ 
            border: .8em solid #ffd1cc; 
            @apply  w-full max-w-5xl py-16 px-10 m-auto bg-white relative ; 
            @screen maxmd{
                @apply  px-8 ; 
            }
        }
        &-close{
            position: absolute;
            right:25px;
            top: 18px;
            font-size: 30px;
            @apply font-semibold ;
            cursor: pointer;
        }
        &-active{
            display: block;
        }
    }
    
    
}