.service{
    &-main{
        h1{
            @apply mt-6 mb-6 text-4xl text-black font-normal  ;
            @screen maxsm{
                @apply  text-xl ;
                
            }
        }
        p{
            @apply leading-normal m-0;
            font-size: 1.4rem;
        }
        img{
            @apply w-full;  
        }
        & .card-price{
            margin-top: 4.2rem;
            max-width:380px;
        }
        .wp-block-buttons .wp-block-button{ 
            @apply w-full;
            max-width: 380px;
        }
        .wp-block-button__link{
            @apply bg-primary-500 tracking-widest w-full text-black font-semibold text-base py-5 px-4 rounded-full inline-block ;
            max-width: 380px;
            &:focus{
                @apply shadow-outline  outline-none;
            }
        }
    }
}